<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="ActiveReports13" type="GrapeCity.ActiveReports.Web.ActiveReportsSettingsSection"/>
  </configSections>
  <appSettings>
    <add key="smtpUser" value="xxx@xxxxx.com"/>
    <add key="smtpPassword" value="st@rbuck"/>
    <add key="smtpHost" value="smtp.xxxxx.com"/>
    <add key="smtpEnableSsl" value="true"/>
    <add key="smtpPort" value="000"/>
    <add key="JqueryDateFormat" value="yy-mm-dd"/>
    <add key="DateFormat" value="yyyy-MM-dd"/>
    <add key="TimeFormat" value="HH:mm"/>
    <!-- HH:mm = 24HR, hh:mm tt = 12HR -->
    <add key="ClientValidationEnabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
    <add key="FieldUserFlags" value="F0;*;All Valid;$;F1;*;Valid see notes;$;F2;*;Damaged sample;$;F3;*;Invalid sample, do not analyze;$;F4;*;Valid sample, different date;$;F5;*;Valid sample, insufficient volume or time"/>
  </appSettings>
  <connectionStrings>
    <add name="ASIDEV11" connectionString="Data Source=HOMEACER;Initial Catalog=DocIT;Integrated Security=True;Connection Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="DocITConnectionString" connectionString="Data Source=HOMEACER;Initial Catalog=DocIT;Integrated Security=True;Connection Timeout=300" providerName="System.Data.SqlClient"/>
 <!--   <add name="mysqlconnectionString" connectionString="Data Source=docit.cs3hzu5dbaca.ca-central-1.rds.amazonaws.com;port=3306;Initial Catalog=docit;User ID=wbea_sa;Password=Fort2020!;Connection Timeout=300" providerName="MySql.Data.MySqlClient"/>-->
    <!-- <add name="ASIDEV11" connectionString="Data Source=wbeasqldb.database.windows.net,1433;Initial Catalog=DocIT;User ID=wbea_sa;Password=Fort2020!;Connection Timeout=300" providerName="System.Data.SqlClient"/>
   <add name="DocITConnectionString" connectionString="Data Source=WBEA-L-051\MSSQLINS;Initial Catalog=DocIT;User ID=wbea_sa;Password=Fort2020!;Connection Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="mysqlconnectionString" connectionString="Data Source=docit.cs3hzu5dbaca.ca-central-1.rds.amazonaws.com;port=3306;Initial Catalog=docit;User ID=wbea_sa;Password=Fort2020!;Connection Timeout=300" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="GrapeCity.ActiveReports.Chart, Version=14.0.19213.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Document, Version=14.0.19213.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Html, Version=14.0.19213.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Pdf, Version=14.0.19213.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Image, Version=14.0.19213.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports, Version=14.0.19213.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account.aspx/LogOn" timeout="2880" requireSSL="false"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="WBEADMS"/>
        <add namespace="WBEADMS.Models"/>
        <add namespace="WBEADMS.Views"/>
        <add namespace="WBEADMS.Helpers"/>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="*.ar14" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.ar13Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="MvcHttpHandler"/>
      <remove name="UrlRoutingHandler"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="AsmxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.ar14" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR14_ReportBinariesStreamer" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_RpxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_RdlxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.ar13Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web, Version=14.0.1578.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_WebCacheAccessHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Grapecity.DataVisualization" publicKeyToken="171ec59c7733b360" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.1.236.0" newVersion="0.1.236.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gcef.Data.ExpressionInfo" publicKeyToken="0b5e1563d2869208" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.184.0" newVersion="2.0.184.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gcef.Data.DataEngine" publicKeyToken="0b5e1563d2869208" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.184.0" newVersion="2.0.184.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.DataProviders" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.3100.0" newVersion="1.5.3100.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rdl" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.3100.0" newVersion="1.5.3100.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rendering" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.3100.0" newVersion="1.5.3100.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Drawing.Gdi" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.3100.0" newVersion="1.5.3100.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.19213.0" newVersion="14.0.19213.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Document" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.19213.0" newVersion="14.0.19213.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Chart" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.19213.0" newVersion="14.0.19213.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.2.0" newVersion="1.8.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <ActiveReports13>
    <WebService reportsFolder="~/" assemblyFolder="~/"/>
  </ActiveReports13>
</configuration>