<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="ASIDEV11" connectionString="Data Source=ASIDEV11\sqlexpress;Initial Catalog=WMD;User ID=sa;Password=supersc00by"/>
    </connectionStrings>
</configuration>
